@import './variables';
@import './button';
@import './input';

@font-face {
  font-family: Windlass;
  src: url(../fonts/Windlass.ttf);
}

* {
  box-sizing: border-box;
}

body {
  height: calc(100dvh - 20px);
  width: calc(100dvw - 20px);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Windlass;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
